<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tezcrow</title>
</head>
<body>
    <header>
        <div class="top_header">
            <div class="circle"></div>
            <div class="socials">
                <img src="images/discord.png" alt="discord">
                <img src="images/twitter.png" alt="twitter">
            </div>
        </div>
        <h1 class="logo">tezcrow</h1>
    </header>
    <main>
        <div class="tops">
            <div class="top">
                <h3>Step1</h3>
                <p>Connect your wallet</p>
            </div>
            <div class="top">
                <h3>Step2</h3>
                <p>Paste Counterparty address</p>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <h3>Step3</h3>
                <div class="nfts">

                </div>
            </div>
            <div class="center">
                <div class="trade_offer"></div>
                <div class="send_offer">Send Offer</div>
            </div>
            <div class="right">
                <h3>Step4</h3>
                <div class="nfts">
                </div>
            </div>
        </div>
    </main>
</body>
</html>