html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

#root {
  display: grid;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 16px 32px;
  background-image: url('./images/space-bg.jpeg');
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_header {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100%;
  text-align: center;
  font-size: 64px;
  text-shadow: 
    2px 2px #BCC91F,
    -1px -1px #BCC91F,
    1px -1px #BCC91F,
    -1px 1px #BCC91F,
    1px 1px #BCC91F;
  color: black;
  margin: 0;
  margin-bottom: 16px;
}

.circle {
  background-color: rgb(56, 233, 56);
  border: 3px solid #BCC91F;
  padding: 24px;
  border-radius: 50%;
}

.socials img {
  width: 32px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #35636e;
  text-align: left;
}

.tops {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.top {
  flex: 1;
}

#dialog {
  display: flex;
  flex-direction: column;
  /*width: 600px;*/
  padding: 16px 32px;
  border: 3px solid #35636e;
  border-radius: 20px;
  font-size: 18px;
  line-height: 0.1;
  background-color: rgba(54, 70, 104, 0.7);

}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px 20px 10px;
}

.button {
  width: 75%;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #BCC91F;
  font-size: 1rem;
  text-align: left;
  padding: 15px;
  background-color: rgba(54, 70, 104, 0.7);
  /*opacity: .5;*/
  border-radius: 20px;
  border: solid 3px #BCC91F;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  color: yellow;
  background-color: #35636e;
}
.button:active {
  margin-top: 5px;
  margin-bottom: 0px;
}

.buttonSmall {
  width: 20%;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #BCC91F;
  font-size: 1rem;
  text-align: center;
  padding: 15px;
  background-color: rgba(54, 70, 104, 0.7);
  /*opacity: .5;*/
  border-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 3px #BCC91F;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.buttonSmall:hover {
  color: yellow;
  background-color: #35636e;
}
.buttonSmall:active {
  margin-top: 5px;
  margin-bottom: 0px;
}

#public-token {
  word-break: break-word;
}
#public-token-copy,
#public-token-copy__copied {
  float: right;
  text-align: center;
  margin: 15px 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#public-token-copy:hover {
  border-radius: 3px;
  color: white;
  background-color: #35636e;
}

.text-align-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: royalblue;
}
a:hover {
  font-style: italic;
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
  color: #35636e;
  margin: 0px;
  transition: 0.3s;
}

#tabs div {
  width: 80%;
  padding: 20px;
  margin: 0px 10px;
  border: solid 1px #35636e;
  border-bottom: none;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

#tabs div.active {
  background-color: #35636e;
  color: white;
}

#transfer-inputs {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 0px 10px 20px 10px;
}

#transfer-inputs input[type="text"] {
  width: 55%;
  padding: 15px;
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 3px #BCC91F;
  outline: none;
  font-size: 1rem;
  border-right: none;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #BCC91F;
  text-align: left;
  padding: 15px;
  background-color: rgba(54, 70, 104, 0.7);
}

#transfer-inputs input[type="number"] {
  padding: 15px;
  width: 60px;
  border: solid 2px #35636e;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  outline: none;
  margin-right: 5px;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: right;
}

/* Removes arrows in input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bottom {
  display: flex;
  gap: 32px;
  min-height: 450px; 
}

.left, .right {
  flex: 2;
  margin: 0;
}

h3 {
  color: #BCC91F;
  font-size: .9rem;
  text-align: left;
  padding: 0px 16px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: #BCC91F;
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.nfts {
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;
  min-height: 450px;
  background-color: rgba(54, 70, 104, 0.7);
  color: #BCC91F;
}

.center {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trade_offer {
  flex: 1;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgba(54, 70, 104, 0.7);
  color: #BCC91F;
}

.send_offer {
  margin: 0 32px;
  border: 3px solid black;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: rgba(54, 70, 104, 0.7);

}

.send_offer:hover {
  background-color: yellow;
}